ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list {
  border: 1px solid #323232;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  background-color: #dfdfdf;
}

#dashboard-background {
  background-image: url("https://www.parking.net/Upload/AboutParking/parking-garage2_Original.jpg");
}

h4 {
  color: rgb(239, 239, 239)
}
