
<div>
  <h1 class="indexh1">Garage Search Results</h1>
</div>

<% @garages.each do |garage| %>
<p>
</p>

<div class="container">
  <div class="card-product">
    <img src="https://www.parking.net/Upload/AboutParking/parking-garage2_Original.jpg" />
    <div class="card-product-infos">
      <h2><%= link_to garage.city, garage_path(garage) %></h2>
        <p><%= garage.street %></p>
        <p><%= garage.description %></p>
        <p><%= garage.price %>€</p>
    </div>
  </div>
</div>
<% end %>


