
<div>
  <h1 class="indexh1">Garage Search Results</h1>
</div>

<div class="container">
<% @garages.each do |garage| %>
  <div class="card-product">
    <img src="https://www.parking.net/Upload/AboutParking/parking-garage2_Original.jpg" />
    <div class="card-product-infos">
      <h2><%= link_to garage.location, garage_path(garage) %></h2>
        <p><%= garage.description %> </p>
        <p><%= garage.price %>€</p>
    </div>
  </div>
<% end %>
</div>
