



<h1>Here are the garages</h1>

<% @garages.each do |garage| %>
  <p>

    <%= link_to garage.location, garage_path(garage) %>
    <%= garage.description %>
    <%= garage.price %> €
  </p>
<% end %>
