<h1>Index html for bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.user.email %>
      <%= booking.garage.street %>
      <%= booking.start_date %>
      <%= booking.end_date %>
    </li>
  <% end %>
</ul>
