<h1>Index html for bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.user.email %>
      <%= booking.garage.location %>
      <%= booking.date %>
    </li>
  <% end %>
</ul>
