.footer2 {
  text-align: center;
  padding: 30px;
  background-color: #2c2b2b;
  margin-top: 20px;
}

.footer2 a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer2 p {
  color: #6B6C6C;
}

.footer2 .fas {
  color: #BF0F12;
}
