// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";

/* Custom designs */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.indexh1 {
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.banner1 {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}


.btn-primary {
  display: inline-block;
  align-items: center;
  background-color: #7a7a7a;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
}

.card img {
  width: 150px;
  height: 100px;
  border-radius: 12px;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}

.container {
  width: 900px;
  margin: auto;
}

@media(max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}









